:root {
    --one: #3498db;
    --two: #2ecc71;
    --three: #e74c3c;
    --four: #f1c40f;
    --five: #e67e22;
    --six: #16a085;
    --seven: #9b59b6;
    --eight: #95a5a6;
    --bomb: hsl(0, 78%, 40%);
}

.cell {
    background-color: rgb(75, 75, 75);
    color: #eee;
    width: 48px;
    height: 48px;
    outline: none;
    border: none;
    border-radius: 8px;
    font-size: 24px;
    transition: 0.05s;
    font-weight: bold;
}

.cell:hover {
    /* background-color: #707070; */
    transform: scale(1.1);
}

.cell:active {
    /* background-color: #555555; */
    transform: scale(1);
}

.c0 {
    background-color: #363636;
    /* background-color: #585858; */
}

.c1 {
    color: #eee;
    background-color: var(--one);
}

.c2 {
    color: #eee;
    background-color: var(--two);
}

.c3 {
    color: #eee;
    background-color: var(--three);
}

.c4 {
    color: #eee;
    background-color: var(--four);
}

.c5 {
    color: #eee;
    background-color: var(--five);
}

.c6 {
    color: #eee;
    background-color: var(--six);
}

.c7 {
    color: #eee;
    background-color: var(--seven);
}

.c8 {
    color: #eee;
    background-color: var(--eight);
}

.bomb {
    color: #eee;
    background-color: var(--bomb);
}
